*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100%;
    height: 50px;
    background: black;
}
.header{
    width:100%; 
    height:500px;
    background: powderblue;
}
.content{
    width:60%;
    height:1000px;
    background: brown;
    float: left;
}
.sidebar{
    width: 20%;
    height: 1000px;
    background: yellowgreen;
    float: left;
}
.footer{
    clear: both;
    width: 100%;
    height: 100px;
    background: rosybrown;
}
.sidebar2{
    width: 20%;
    height: 1000px;
    float: left;
    background: wheat;
}
.pic1{
    margin: 20px 50px;
    width: 150px;
    height: 150px;
    float: left;
    background: gray;
}
.pic2{
    margin: 20px 50px;
    width: 150px;
    height: 150px;
    float: left;
    background: gray;

}
.pic3{
    margin: 20px 50px;
    width: 150px;
    height: 150px;
    float: left;
    background: gray;
}